<footer>
  ALL RIGHTS RESERVED TO KAOSARA ADEKOLA AND KAREN ARTIOLI
  <br>
  <p>The Data From This Page Has Been Obtained From <a href="https://www.tvmaze.com/api" target="_blank">TV Maze</a> </p>
</footer>
</body>

</html>