
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the KAsquared Team</title>
</head>
<body>
    <ul>
        <li><a href= "/" >Home</a></li>
        <li> <a href= "/tvshows" >All TV Episodes</a></li>
        <li> <a href= "/contactus" >Contact Us</a></li>
        </ul>
    <p>Kaosara Adekola and Karen Artioli</p>

<p>The name "KAsquared" was derived from the fact that both of our initials is "KA"</p>
</body>
</html>