<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacting the KAsquared Team</title>
</head>

<body>
  <ul>
    <li><a href="/">Home</a></li>
    <li> <a href="/tvshows">All TV Episodes</a></li>
    <li> <a href="/aboutus">About Us</a></li>
  </ul>

  <p>Kaosara Adekola and Karen Artioli</p>

  <p>If you'd like to contact the "KAsquared" team - DONT!!! We are BUSY mamas!!!!</p>

</body>

</html>