<ul>
  <li><a href="/">Home</a></li>
  <li> <a href="/aboutus">About Us</a></li>
  <li> <a href="/tvshows">All TV Episodes</a></li>
  <li> <a href="/contactus">Contact Us</a></li>
</ul>

<%- include("../partials/header.ejs", {title: "KAsquared TV Shows"}) %>


<section>
  <p><a href="/db-test">Clicking this link will test to see if your db connection is ok</a></p>

</section>



<%- include("../partials/footer.ejs") %>