<!DOCTYPE html>
<html lang="en">



<body>

  <%- include("../partials/header.ejs", {title: "KAsquared TV Shows"}) %>

  <section>
    <p><a href="/db-test">Clicking this link will test to see if your db connection is ok</a></p>
  </section>

</body>

</html>



<%- include("../partials/footer.ejs") %>