<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game of Throne Episodes</title>
</head>
<body>

    <ul>
        <% for (let i = 0; i < gameOfThronesEpisodes.length; i++) { %>
            <li><%= gameOfThronesEpisodes[i].name %>&nbsp;- &nbsp;<%= 'S' + gameOfThronesEpisodes[i].season + 'E' + gameOfThronesEpisodes[i].number %></li>
            <br>
            <img id="image" src="<%= gameOfThronesEpisodes[i].image.medium %>">
            <br>
            <%= gameOfThronesEpisodes[i].summary.split("<p>")[1].split ("</p>")[0] %>
            <hr/>
          <% } %>
          

    </ul>
    


    
</body>
</html> 