<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game of Throne Episodes</title>
</head>
<body>

    <ul>
        <% for (let i = 0; i < gameOfThronesEpisodes.length; i++) { %>
          <li><%= gameOfThronesEpisodes[i].name %></li>
          <li><%= gameOfThronesEpisodes[i].season %></li>
          <li><%= gameOfThronesEpisodes[i].number %></li>
        <% } %>
    </ul>
    







</body>
</html> 