<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game of Throne Episodes</title>
</head>
<body>

    <ul>
        <% for (let episode of gameOfThronesEpisodes) { %>
          <li><%= gameOfThronesEpisodes[0].name %></li>
        <% } %>
    </ul>
    
</body>
</html> 